.site-footer {
    position: relative;
    .footer-info{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .widget-title{
        margin-top: 0;
    }
    a{
        &:hover{
            text-decoration: underline;
        }
    }
    .footer-left{
        width: 30%;
        img{
            max-width: 300px;
        }
    }
    .footer-right{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    .logo-footer{
        padding: 40px 0 10px;
        @media(max-width: 992px) {
            text-align: center;
        }
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
    .social-list{
        display: flex;
        li{
            a{
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 20px;
                text-align: center;
                display: block;
            }
        }
    }
}
.tmc-newletter{
    position: relative;
    .form-subcribe{
        display: flex;
    }
    input[type="email"]{
        width: 100%;
    }
    input[type="submit"]{
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: @secondary-color;
        color: @white;
    }
    .ajax-loader{
        position: absolute;
        right: 95px;
        top: 15px;
    }
}