.site-content{
	overflow: hidden;
}
.elementor-element-populated{
	padding: 0!important;
}
.fa-icon-long-arrow-right:before{
	content: '\e900'!important;
	font-family: 'font-tomochain' !important;
}
.tmc-page-title{
	background-color: @primary-color;
	padding-top: 200px;
	padding-bottom: 80px;
	@media (max-width: 1024px){
		margin-bottom: 25px;
	}
	@media (max-width: 767px){
		margin-bottom: 25px;
		padding-top: 160px;
		padding-bottom: 35px;
	}
	.breadcrumb {
		display: none;
	}
	.container{
		position: relative;
	}
	.tmc-page-inner{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		h2{
			font-size: 60px;
			color: @white;
			font-weight: 900;
			@media (max-width: 767px){
				font-size: 24px;
			}
		}
		.breadcrumb{
			color: @white;
		}
	}
}

//style font japan
.ja_dvl_font_size {
	.desc {
		font-size: 16px;
	}
}