.tmc-top-report{
	background-color: #3A3D3D;
	width: 100%!important;
	max-height: 43px;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 10;
	.container{
		position: relative;
	}
	.tmc-report-list {
		max-width: 650px;
		overflow: hidden;
		.slick-list {
			margin: 0 -30px;
			@media only screen and (max-width: 767px) {
				margin: 0;
			}
		}
		.tmc-report-item{
			color: @white;
			padding: 10px 0;
			a{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				border-right: 1px solid @white;
				font-size: 14px;
				padding: 0 30px;
				@media only screen and (max-width: 767px) {
					padding: 0;
					border-right: 0;
				}
			}
			&:last-child{
				a{
					border-right: none;
				}
			}
		}
	}
	.close{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		color: @white;
		line-height: 30px;
	    width: 30px;
	    text-align: center;
		cursor: pointer;
		opacity: 0;
		transition: all .3s;
	}
	&:hover{
		.close{
			opacity: 1;
		}
	}
}
.tmc-report-widget{
	.tmc-report-content{
		display: flex;
		justify-content: space-between;
		padding-top: 5px;
		padding-bottom: 5px;
		.close{
			padding-left: 20px;
			padding-right: 20px;
			cursor: pointer;
		}
	}
}