.tmc-grid-col{
	display: flex;
	flex-wrap: wrap;
}
.tmc-desktop-6{
	.tmc-grid-item{
		width: 16.6666%;
	}
}
.tmc-desktop-5{
	.tmc-grid-item{
		width: 20%;
	}
}
.tmc-desktop-4{
	.tmc-grid-item{
		width: 25%;
	}
}
.tmc-desktop-3{
	.tmc-grid-item{
		width: 33.33%;
	}
}
.tmc-desktop-2{
	.tmc-grid-item{
		width: 50%;
	}
}
.tmc-desktop-1{
	.tmc-grid-item{
		width: 100%;
	}
}
.elementor-column-wrap {
	padding-top: 0!important;
	padding-bottom: 0!important;
}
@media (max-width: 992px){
	.tmc-tablet-6 .tmc-grid-item,
	.tmc-tablet-5 .tmc-grid-item,
	.tmc-tablet-4 .tmc-grid-item{
	    width: 33.33%;
	}
}
@media (max-width: 768px){
	.tmc-tablet-6 .tmc-grid-item,
	.tmc-tablet-5 .tmc-grid-item,
	.tmc-tablet-4 .tmc-grid-item,
	.tmc-tablet-3 .tmc-grid-item,
	.tmc-tablet-2 .tmc-grid-item {
	    width: 50%;
	}
}
@media (max-width: 580px){
	.tmc-mobile-5 .tmc-grid-item,
	.tmc-mobile-4 .tmc-grid-item,
	.tmc-mobile-3 .tmc-grid-item,
	.tmc-mobile-2 .tmc-grid-item,
	.tmc-mobile-1 .tmc-grid-item {
	    width: 100%;
	}
}
.slick-slide{
	&:focus{
		outline: none;
	}
}
/* Client */
.tmc-client-widget{
	.owl-item{
		text-align: center;
	}
	.tmc-client-heading{
		color: @white;
	}
	.tmc-client-item{
		padding: 0 5px;
		display: inline-block;
	}
	.slider{
		.tmc-client-item{
			a{
				display: block;
				text-align: center;
			}
			img{
				width: auto;
				display: inline-block;
			}
		}
	}
}
.owl-carousel{
	&:hover{
		.owl-nav{
			opacity: 1;
		}
	}
}
.owl-nav{
	opacity: 0;
	transition: all 0.35s ease;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	button{
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    width: 55px;
	    height: 55px;
	    border-radius: 50%;

	    i{
	    	font-size: 25px;
	    	line-height: 25px;
	    	color: @white;
	    }
	    &:focus{
	    	outline: none;
	    }
	    &.disabled{
	    	display: none;
	    }
	}
	.owl-prev{
		left: 0;
	}
	.owl-next{
		right: 0;
	}
}
.owl-dots{
	text-align: center;
	margin: 0px 0 20px 0;
	.owl-dot{
		width: 15px;
	    height: 15px;
	    border: 2px solid @secondary-color!important;
	    display: inline-block;
	    margin-right: 10px;
	    border-radius: 50%;
	    &.active{
	    	background-color: @secondary-color;
	    }
	    &:focus{
	    	outline: none;
	    }
	}
}
/* ST Post Layout */
.tmc-post-layout-widget{
	.tmc-pl-item-wrap {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
		.tmc-pl-item{
			border-radius: 5px;
			overflow: hidden;
			background-color: @white;
		}
	}
	.tmc-pl-image{
		img{
			width: 100%;
		}
	}
	.tmc-pl-content{
    	padding: 15px;
		.tmc-pl-title{
			margin-top: 0;
			padding-top: 10px;
		}
		.tmc-pl-meta{
			span{
				margin-right: 10px;
			}
			i{
				margin-right: 10px;
				color: @secondary-color;
			}
		}
	}
	.slick-nav{
		padding: 0;
		list-style: none;
		text-align: center;
		li{
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 50%;
			margin-right: 20px;
			cursor: pointer;
		}
	}
}

/* Custom Elementor Tab Widget */
.elementor-widget-tabs{
	.elementor-tabs{
		.elementor-tabs-wrapper{
			display: flex;
			justify-content: center;

		}
		.elementor-tab-content{
			padding: 0;
		}
		.elementor-tab-desktop-title{
			background-color: #F1F7FF;
			padding-top: 12px;
			padding-bottom: 12px;
			border-radius: 4px;
			margin-right: 10px;
			&.elementor-active{
				background-color: #CDECFF;
			}
		}
		.elementor-tab-mobile-title{
			display: none;
		}
	}
}
 /* Section Features */
 .tmc-features-widget{
	.tmc-feature-title{
		display: inline-block;
		font-size: 60px;
		line-height: 1;
		position: relative;
		font-weight: 900;
		z-index: 1;
		@media (max-width: 1366px){
			font-size: 40px;
		}
		span{
			content: '';
			height: 30px;
			display: block;
			background-color: @secondary-color;
			position: absolute;
			z-index: -1;
			width: 210px;
			right: 0;
			top: 0;
			@media (max-width: 1366px){
				height: 15px;
				width: 110px;
			}
		}
	}
	.tmc-feature-subtitle{
		font-size: 20px;
		@media (max-width: 1366px){
			font-size: 18px;
		}
	}
	.tmc-feature-right {
		* {
			height: 100%;
			width: 100%;
		}
		position: absolute!important;
		z-index: -1;
		right: 20%;
		top: 150px;
		height: 400px!important;
		width: 1500px!important;
		.animateme {
			background: #EDEDED;
		}
	}
}
 /* Section Build on Tomochain */
 .tmc-build-widget{
	.tmc-build-title{
		display: inline-block;
		font-size: 60px;
		line-height: 1;
		position: relative;
		font-weight: 900;
		z-index: 1;
		@media (max-width: 1366px){
			font-size: 40px;
		}
		span{
			height: 30px;
			display: block;
			background-color: @secondary-color;
			position: absolute;
			z-index: -1;
			width: 200px;
			right: 0;
			bottom: 0px;
			@media (max-width: 1366px){
				height: 15px;
				width: 150px;
			}
		}
	}
	.tmc-build-subtitle{
		font-size: 20px;
		@media (max-width: 1366px){
			font-size: 18px;
		}
	}
}
 /* TMC Title Heading */
 .tmc-title-heading{
	display: inline-block;
	font-size: 60px;
	font-weight: 900;
	line-height: 1;
	position: relative;
	z-index: 1;
	@media (max-width: 1366px){
		font-size: 40px;
	}
	span{
		height: 30px;
	    display: block;
	    background-color: @secondary-color;
	    position: absolute;
	    z-index: -1;
	    width: 200px;
	    bottom: 0px;
	    &.type-1{
			left: 0;
		}
		&.type-2{
			right: 0;
		}
	}	
}
/* TMC text info */
.tmc-service-widget{
	display: flex;
	align-items: center;
	.tmc-text-icon{
		font-size: 50px;
		i,svg {
		    width: 1em;
		    height: 1em;
		    position: relative;
		    display: block;
		}
	}
	.tmc-service-content{
		padding-left: 20px;
	}
	.tmc-title-sc{
		margin-top: 0;
		font-size: 24px;
		line-height: 1.2;
		@media (max-width: 1366px){
			font-size: 20px;
		}
	}
	.tmc-subtitle-sc {
		line-height: 1.2;
		margin-top: 10px;
		p  {
			margin: 0;
		}
	}
}
/* TMC Alpha Tabs */
.custom-section {
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		background-color: #fafafa;
		width: 40%;
		height: 100%;
		position: absolute;
		right: 0%;
		z-index: -1;
	}
	.elementor-container {
		max-width: inherit!important;
	}
}
#slideContainer {
	width: 100%;
	height: 100%;
}
#pinContainer {
	width: 100%;
	height: 100vh;
	position: relative;
  }
  .panel {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 170px 0 100px;
	position: absolute;
	@media (min-width: 768px) and (max-width: 1024px){
		padding: 150px 0;
	}
	@media (max-width: 767px){
		padding: 0px 0 100px;
	}
  }
  .panel:not(:first-of-type) {
	transform: translateX(100%);
	@media (max-width: 1024px){
		transform: translateX(125%);
	}
  }

.tmc-alpha-tabs-widget{
	.tmc-flex-content{
		@media (min-width: 768px){
			display: flex;
			align-items: end;
		}
		.tmc-tab-left{
			position: relative;
			@media (min-width: 768px){
				width: 40%;
				margin-right: 100px;
			}
			@media (min-width: 768px) and (max-width: 1366px){
				width: 30%;
				margin-right: 50px;
			}
			@media (max-width: 767px){
				position: absolute;
				top: 60%;
				z-index: -1;
				transform: translateY(-50%);
				opacity: .1;
				img {
					height: 400px;
				}
			}
			img {
				display: block;
			}
			&.alpha-d {
				&::before {
					content: '';
					height: 100px;
					width: 100px;
					background-color: #00E8B4;
					position: absolute;
					bottom: -25px;
					right: 0px;
					z-index: -1;
				}
			}
			&.alpha-p {
				&::before {
					content: '';
					height: 100px;
					width: 100px;
					background-color: #00E8B4;
					position: absolute;
					bottom: -25px;
					left: -25px;
					z-index: -1;
				}
			}
			&.alpha-s {
				&::before {
					content: '';
					height: 100px;
					width: 100px;
					background-color: #00E8B4;
					position: absolute;
					top: 0;
					right: 0;
					z-index: -1;
				}
			}
			&.alpha-g {
				&::before {
					content: '';
					height: 100px;
					width: 100px;
					background-color: #00E8B4;
					position: absolute;
					bottom: -25px;
					left: 0;
					z-index: -1;
				}
			}
		}
		.tmc-tab-right{
			background-color: rgba(#ffffff, 0.9);
			box-shadow: 0 10px 50px 0 rgba(16, 69, 91, 0.1);
			padding: 15px;
			@media (min-width: 768px){
				background-color: #ffffff;
				width: 60%;
				padding: 40px 60px;

			}
			@media (min-width: 768px) and (max-width: 1366px){
				width: 70%;
			}
		    .c-title{
		    	font-size: 30px;
		    	margin-top: 0;
				margin-bottom: 0;
				@media (max-width: 767px){
					font-size: 24px;
				}
		    }
		    .c-subtitle{
		    	margin: 30px 0;
		    }
		    .link{
		    	display: inline-block;
		    	padding: 8px 40px;
		    	font-weight: bold;
		    	background-color: #242828;
		    	color: @white;
			}
			&.alpha-p {
				.link{
					background-color: #2B88F9;
				}
			}
			&.alpha-s {
				.link{
					background-color: #FF7C4D;
				}
			}
			&.alpha-g {
				.link{
					background-color: #FFCA4D;
				}
			}
		}
	}
	.tmc-alpha-tab-filter{
		position: absolute;
		display: flex;
		right: 18%;
		bottom: 0;
		padding: 0;
		margin: 0;
		list-style: none;
		@media (max-width: 767px){
			left: 50%;
			right: inherit;
			transform: translateX(-50%);
		}
		li{
			position: relative;
			border-top: 1px solid @border-color;
			color: #a7a7a7;
			&:before{
				content: '';
				width: 100%;
				height: 3px;
				background-color: #607ECA;
				position: absolute;
				top: -1px;
				opacity: 0;
				transition: all 0.35s ease;
			}
			&:hover{
				&:before{
					opacity: 1;
				}
			}
			a{
				padding: 10px 40px;
				font-weight: bold;
				display: block;
				transition: all 0.35s ease;
				font-size: 20px;
				@media (max-width: 767px){
					padding: 10px 37px;
				}
			}
			&.active{
				&:before{
					opacity: 1;
				}
				a{
					transform: translate(0, -100%);
					color: #607ECA;
					&:hover{
						color: #607ECA;
					}
				}
			}
		}
	}
}

/* TMC Button */
.tmc-button-widget{
	a,
	.button-link{
		display: inline-block;
		padding: 10px 60px;
		font-weight: 900;
		text-align: center;
		color: inherit;
		border: 2px solid;
		@media (max-width: 767px){
			display: block;
		}
		&:not(:first-of-type){
			margin-left: 30px;
			@media (max-width: 767px){
				margin-left: 0px;
				margin-top: 15px;
			}
		}
	}
}

.btn-type2-black {
	.tmc-button-widget{
		.type-2{
			border: 2px solid #242828;
			color: #242828;
			&:hover {
				background-color: #242828;
				border: 2px solid #242828;
				color: @white;
			}
		}
	}
}

.btn-type1-black {
	.tmc-button-widget{
		.type-1{
			border: 2px solid #242828;
			color: #242828;
			background-color: transparent;
			&:hover {
				background-color: #242828;
				border: 2px solid #242828;
				color: @white;
			}
		}
	}
}


/* TMC animation */

/*Features*/
.elementor-section-position {
	* {
		position: initial!important;
	}
	// .position-absolute {
	// 	position: absolute!important;
	// 	z-index: -1;
	// 	left: 0;
	// 	height: calc(100%)!important;
	// 	width: 40%!important;
	// 	* {
	// 		height: 100%;
	// 		width: 100%;
	// 	}
	// }
}
/*Top banner*/
.position-initial {
	position: initial;
}

.rev-btn {
	i {
		transition: all .3s;
		font-size: 14px;
		padding-top: 4px;
		@media (max-width: 767px){
			font-size: 12px;
		}
	}
	&:hover {
		i {
			transform: translateX(15px);
		}
	}
}
/*section launch*/
.bg-animation-logo {
	position: absolute!important;
	width: 400px!important;
	height: 400px!important;
	top: 50%;
	right: -20%;
	transform: translateY(-50%);
	@media (max-width: 767px){
		width: 250px!important;
		height: 250px!important;
		top: 30%;
		right: 0%;
		opacity: .5;
	}
	.box-layer {
		*{
			height: 100%;
			width: 100%;
		}
		.animateme {
			position: absolute;
			&.logo-item-2 {
				padding: 15%;
			}
			&.logo-item-3 {
				text-align: center;
				padding: 30%;
			}
		}
	}
}

/* TMC Event */
.tmc-events-widget{
	margin-bottom: 100px;
	@media (max-width: 767px){
		margin-bottom: 50px;
	}
	.tmc-events-wrap{
		@media (min-width: 768px){
			display: flex;
			align-items: flex-start;
		}
	}
	.tmc-event-dots{
		width: 33.33%;
		position: relative;
		overflow: hidden;
		@media (max-width: 767px){
			overflow: initial;
		}
		@media (max-width: 767px){
			width: 100%;
		}
		.event-arrows-back {
			position: absolute;
			background-color: rgba(235, 235, 235, 0.9);
			left: -15px;
			top: 0;
			height: 100%;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			&.slick-disabled {
				opacity: .2;
			}
		}
		.event-arrows-next {
			position: absolute;
			background-color: rgba(235, 235, 235, 0.9);
			right: -15px;
			top: 0;
			height: 100%;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			&.slick-disabled {
				opacity: .2;
			}
		}
		.slick-list {
			@media (min-width: 768px){
				overflow-y: auto;
				.slick-track {
					transform: translate3d(0, 0, 0)!important;
				}
			}
			.slick-current{
				background-color: @secondary-color;
			}
			.tmc-dot{
				display: flex;
				align-items: center;
				padding: 15px 25px;
				border-top: 1px solid #E9E9E9;
				@media (max-width: 1366px){
					padding: 15px;
				}
				@media (max-width: 767px){
					margin: 0;
					border-top: 0;
				}
				.tmc-event-time {
					.tmc-date{
						font-size: 60px;
						line-height: 1;
						font-weight: 900;
						@media (max-width: 1366px){
							font-size: 30px;
						}
						@media (max-width: 767px){
							font-size: 24px;
						}
					}
					.tmc-month-year {
						font-size: 20px;
						@media (max-width: 1366px){
							font-size: 14px;
						}
						@media (max-width: 767px){
							font-size: 12px;
						}
					}
				}
				.tmc-info{
					padding-left: 30px;
					overflow: hidden;
					@media (max-width: 1024px){
						padding-left: 20px;
					}
					@media (max-width: 767px){
						padding-left: 15px;
					}
					.tmc-title {
						font-size: 20px;
						font-weight: bold;
						line-height: 1.4;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						@media (max-width: 1366px){
							font-size: 18px;
						}
						@media (max-width: 767px){
							font-size: 20px;
						}
					}
					span{
						display: block;
						font-size: 18px;
						@media (max-width: 1366px){
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.tmc-event-content{
		width: calc(67.67% - 115px);
		margin-left: 100px;
		overflow: hidden;
		@media (max-width: 1366px){
			width: calc(67.67% - 65px);
			margin-left: 50px;
		}
		@media (max-width: 767px){
			width: 100%;
			margin: 25px 0 0;
		}
		.tmc-event-item{
			position: absolute!important;
			left: 0!important;
			top: 0!important;
			&.slick-current {
				position: relative !important;
			}
			.tmc-event-info{
				.tmc-event-title {
					font-size: 24px;
					line-height: 1.3;
				}
				.tmc-location {
					color: #242828;
					font-size: 18px;
					line-height: 1.2;
					opacity: .4;
					margin-top: 10px;
					i {
						padding-right: 5px;
					}
				}
				.tmc-event-desc {
					padding-top: 25px;
					@media (max-width: 1399px){
						padding-top: 15px;
					}
				}
			}
			.tmc-event-coverphoto {
				text-align: center;
				margin-bottom: 15px;
				img {
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}
/*  TMC Team Member */
.tmc-team-widget{
	overflow: hidden;
	.tmc-team-wrap{
		display: flex;
		flex-wrap: wrap;
		margin-left: -60px;
		margin-right: -60px;
		@media (max-width: 1024px){
			margin-left: -35px;
			margin-right: -35px;
		}
		@media (max-width: 991px){
			margin-left: -25px;
			margin-right: -25px;
		}
		@media (max-width: 767px){
			margin-left: 0;
			margin-right: 0;
		}
	}
	.tmc-team-item{
		width: 33.33%;
		padding: 60px;
		@media (max-width: 1024px){
			padding: 25px 35px;
		}
		@media (max-width: 991px){
			padding: 25px;
		}
		@media (max-width: 767px){
			width: 100%;
			padding: 25px 15%;
		}
		.member-avatar {
			margin-bottom: 25px;
			@media (max-width: 767px){
				margin-bottom: 15px;
			}
			img {
				display: block;
			}
		}
		.team-info {
			.team-name {
				font-size: 24px;
				font-weight: bold;
			}
			.team-position {
				font-size: 18px;
			}
			.social {
				padding: 0;
				margin: 0;
				display: flex;
				list-style: none;
			}
		}
	}
}
/* TMC Press */
.tmc-press-widget{
	.title-heading{
		display: inline-block;
		font-size: 60px;
		line-height: 1;
		position: relative;
		font-weight: 900;
		z-index: 1;
		margin-bottom: 50px;
		@media (max-width: 1366px){
			font-size: 40px;
		}
		span{
			content: '';
			height: 30px;
			display: block;
			background-color: @secondary-color;
			position: absolute;
			z-index: -1;
			width: 150px;
			right: -50px;
			bottom: 0;
			@media (max-width: 1366px){
				height: 15px;
				width: 100px;
			}
		}
	}
	.p-item{
		img{
			max-height: 50px;
		}
		padding: 30px 60px;
		@media (max-width: 767px) {
			padding: 25px 0px;
		}
		.read-more{
			font-weight: bold;
			color: #00E8B4;
			text-decoration: underline;
			// &:after{
			// 	content:'\f30b';
			// 	font-family: 'Font Awesome 5 Free';
			// 	margin-left: 20px;
			// }
		}
		.desc {
			min-height: 120px;
		}
	}
	.slick-dots{
		text-align: center;
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			margin-right: 10px;
			.dot{
				width: 8px;
				height: 8px;
				background-color: @border-color;
				cursor: pointer;
				display: block;
			}
			&.slick-active {
				.dot{
					background-color: @secondary-color;
				}
			}
		}
	}
}
/* TMC Contact */
.tmc-contact-widget{
	@media (min-width: 768px){
		display: flex;
	}
	.tmc-contact-title{
		position: relative;
		@media (min-width: 992px){
			width: 25%;
		}
		@media (min-width: 768px) and (max-width: 991px){
			width: 20%;
		}
		.title-heading{
			color: #ffffff;
			position: relative;
			font-size: 90px;
			line-height: 1;
			z-index: 1;
			@media (max-width: 1399px){
				font-size: 70px;
			}
			@media (max-width: 1024px){
				font-size: 60px;
			}
			@media (max-width: 767px){
				font-size: 50px;
				margin-bottom: 50px;
			}
			@media (min-width: 768px) {
				position: absolute;
				top: 50%;
				right: 80px;
				font-weight: 900;
				transform: translateY(-50%) rotate(-90deg);
			}
			@media (min-width: 992px) and (max-width: 1024px){
				right: 30px;
			}
			@media (min-width: 768px) and (max-width: 991px){
				right: -15px;
			}
			span{
				content: '';
				height: 30px;
				display: block;
				background-color: @secondary-color;
				position: absolute;
				z-index: -1;
				width: 210px;
				right: 0;
				bottom: 0;
				@media (max-width: 1366px){
					height: 15px;
					width: 110px;
				}
			}
		}
	}
	.tmc-contact-content{
		font-size: 22px;
		@media (max-width: 991px) {
			font-size: 18px;
		}
		@media (min-width: 992px){
			width: 75%;
		}
		.c-item{
			padding: 20px 0;
			@media (min-width: 768px) {
				display: flex;
			}
			@media (min-width: 768px) {
				padding: 15px 0;
			}
			.contact-title{
				min-width: 45%;
				font-weight: bold;
				color: #ffffff;
			}
			.contact-info{
				@media (min-width: 768px) {
					padding-left: 50px;
				}
				a{
					color: #00E8B4;
					text-decoration: underline;
				}
			}
		}
	}
}
/* TMC Step */
.tmc-step-widget{
	.step-header{
		display: flex;
		align-items: center;
		.number{
			font-size: 60px;
			margin-right: 20px;
		}
	}
}
/* TMC Layer */
.section-layer{
	display: none;
}
.tmc-layer-widget{	
	svg{
		width: 100%;
	}
}
/* TMC Layer Content */
.tmc-layer-content-widget{
	.layer-content-item{
		position: relative;
		min-height: 380px;
		transition: transform 0.6s ease;
  		transform-style: preserve-3d;
  		cursor: pointer;
		.layer-header,.layer-info{
			position: absolute;
			-webkit-backface-visibility: hidden;
    		backface-visibility: hidden;
		}
		.layer-info{
		  transform: rotateY(180deg);
		}
		&:hover{
			transform: rotateY(180deg);
		}
	}
}
