.tmc-tabs-widget{
	width: 80%;
	margin: 0 auto;
	.title-heading{
		font-size: 60px;
		line-height: 1;
		margin-bottom: 10%;
		text-align: right;
		span{
			position: relative;
			z-index: 1;
			&:after{
				content: '';
				height: 30px;
				display: block;
				background-color: @secondary-color;
				position: absolute;
				z-index: -1;
				width: 200px;
				left: -45px;
    			bottom: 0px;
			}
		}
	}
	.tmc-tab-title{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 60px;
		li{
			position: relative;
			font-size: 28px;
			font-weight: 900;
			margin-bottom: 15px;
			@media(min-width: 768px){
				width: 25%;
			}
			@media(min-width: 768px)and(max-width: 991px){
				font-size: 24px;
			}
			a{
				display: inline-block;
				position: relative;
				&:after{
					position: absolute;
					content: '';
					width: 0;
					height: 2px;
					background: @text-color;
					bottom: 5px;
					left: 0;
					opacity: 0;
					transition: all 0.35s ease;
				}
			}
			&.active,
			&:hover{
				a {
					&:after{
						width: 100%;
						opacity: 1;
					}
				}
			}
		}
	}
	.tab-content{
		display: none;
		width: 100%!important;
		.row{
			align-items: center;
			a{
				display: block;
				text-align: center;
				margin-bottom: 50px;
				img{
					max-width: 150px;
				}
			}
		}
	}
	.img-size {
		img {
			width: 120px;
			@media(max-width: 767px){
				width: 80%;
			}
		}
	}
}